<!-- 포스트 박스 -->
<div class="card mb-3">            
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <a href="#" class="btn btn-outline-success btn-sm">Follow</a>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <p class="card-text fw-medium">#name #kid</p>              
  </div>
  <img src="/img/bg_001.png" class="card-img-top" alt="image">
</div>
<!-- / 포스트 박스 --> 


          

          
          

    

  